<?xml version="1.0" encoding="utf-8" ?>
<widget xmlns ="http://www.w3.org/ns/widgets"
        xmlns ="http://phonegap.com/ns/1.0"
        id ="com.psjplearn.employeedirectory"
        versionCode ="1"
        version ="0.0.1">

  <name>Employee Directory</name>
  
   <description>
        A simple employee directory application
   </description>
  
  <author href="http://psjplearn.blogspot.com" email="sai.ponduru2@gmail.com">
       Sai Ponduru
  </author>

  <feature name="http://api.phonegap.com/1.0/camera"/>
  <feature name="http://api.phonegap.com/1.0/contacts"/>
  <feature name="http://api.phonegap.com/1.0/file"/>
  <feature name="http://api.phonegap.com/1.0/geolocation"/>
  <feature name="http://api.phonegap.com/1.0/media"/>
  <feature name="http://api.phonegap.com/1.0/network"/>
  <feature name="http://api.phonegap.com/1.0/notification"/>

</widget>